server:
  port: 9999

spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/v1/users/**
          filters:
            - StripPrefix=2
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/v1/auth/**
          filters:
            - StripPrefix=2
        - id: api-management-service
          uri: lb://api-management-service
          predicates:
            - Path=/api/v1/apis/**
          filters:
            - StripPrefix=2
        - id: log-service
          uri: lb://log-service
          predicates:
            - Path=/api/v1/logs/**
          filters:
            - StripPrefix=2
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

# Nacos配置
nacos:
  config:
    server-addr: localhost:8848

# 日志配置
logging:
  level:
    org.springframework.cloud.gateway: debug
    reactor.netty.http.client: debug

# 自定义配置
open-platform:
  gateway:
    version: 1.0.0
    description: 网关服务